<div class="home-view jumbotron">
  <h1>Hello, GUL!</h1>
  <h3>XXX Jornadas GUL - Taller TypeScript & Angular</h3>
  <img class="img-responsive" src="./assets/cover.png" style="margin: 24px" />
  <p>Demo utilizada para el taller sobre Angular (v4.0.0) desarrollado en las XXX Jornadas del GUL
    (<strong>G</strong>rupo de <strong>U</strong>suarios de <strong>L</strong>inux) de la UC3M.
  </p>
  <p>Las slides se encuentran alojadas <a href="#">aquí</a>.</p>
  <p>El código fuente se encuentra disponible <a href="https://github.com/semagarcia/taller-angular-v4-jornadas-tecnicas-gul">aquí</a>.</p>
</div>